.navbar.navbar-dark {
  background-color: #110161;
  display: block;
  text-align: center;
}

body {
  font-family: "Frank Ruhl Libre", serif !important;
}

#currentUV {
  padding: 5px 5px 5px 5px;
  border: 1px solid white;
  border-radius: 10rem;
}

#cityDisplay {
  background-color: #ebebeb;
  font-size: 1.2rem;
}

h1.navbar-brand.weatherBrand {
  font-size: 3.5em;
  text-shadow: 5px 5px black;
}

.formCol {
  background-color: #c0c0c0;
  font-size: 22px;
}

div.card-body {
  color: #110161;
  background-color: #ebebeb;
}

@media screen and (max-width: 480px) {
  h1.navbar-brand.weatherBrand {
    font-size: 1.8rem;
  }
  .formCol {
    font-size: 18px;
    margin-right: 19px;
    padding-bottom: 20px;
  }
}
