.navbar.navbar-dark {
  display: block;
  text-align: center;
}


#uvIndex {
  background-color: red;
  padding: 5px 5px 5px 5px;
  border: 1px solid red;
  border-radius: 10rem;
}

h1.navbar-brand.weatherBrand {
  color: red;
  font-size: 3em;
}

#clear {
  float: right;
  display: block;
  color: blue;
}
div.row.fiveDay {
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 480px){
  h1.navbar-brand.weatherBrand {
    
    font-size: 1.5rem;
  }
}
